.fileCard {
    height: 28px;
    max-width: 195px;
    border-radius: 10px;
    border: 1px solid #CED0DF; 
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.049);
    display: flex;              
    align-items: center;        
    padding: 5px;               
    gap: 2px;                 
}

.fileCard-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5px;
}

.fileCard-content-text{
    color: #18181B;
    opacity: 70%;
    font-weight: 300;
    font-size: 12px;
}