.PasswordInput-container {
  position: relative;
  width: 100%;
}

.PasswordInput-input {
  width: 100%;
  background-color: #EDF5F4;
  color: #9EA3A2;
  padding: 15px 40px 15px 15px;
  font-size: 14px;
  font-weight: 300;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}

.PasswordInput-input:focus {
  outline: none;
  border-color: #007bff;
}

.Login-PasswordInput-input {
  width: 100%;
  background-color: #EDF5F4;
  color: #9EA3A2;
  padding: 10px 40px 10px 10px;
  font-size: 14px;
  font-weight: 300;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}

.Login-PasswordInput-input:focus {
  outline: none;
  border-color: #007bff;
}


.ChangePassword-PasswordInput-input {
  width: 100%;
  background-color: #EDF5F4;
  color: #9EA3A2;
  padding: 10px 40px 10px 10px;
  font-size: 14px;
  font-weight: 300;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}

.ChangePassword-PasswordInput-input:focus {
  outline: none;
  border-color: #007bff;
}



.PasswordInput-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;
}